# Ignore .idea directory and its contents
**/.idea/

# Ignore .vscode directory and its contents
**/.vscode/

# Ignore tmp and temp folders and their contents
**/tmp/
**/temp/

# Ignore vendor folder (Composer dependencies)
/vendor/

# Ignore LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
livrable_english/Livrable_1.pdf

# Ignore local archive of the deliverable
livrable_english.zip